
Solution/.vs/

Solution/packages/

Solution/Application.Web/App_Data/TEMP/

Solution/Application.Web/App_Data/Models/

Solution/Application.Web/App_Data/Logs/

Solution/Application.Web/bin/

Solution/Application.Web/Media/

Solution/Application.Web/obj/

Solution/Application.Web/Properties/

Solution/Application.Web/Umbraco/

Moriyama.SuperDocTypeCreate/obj/

Moriyama.SuperDocTypeCreate/bin/

Moriyama.SuperDocTypeCreate/Properties/
